name: Build and push image to ACR

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  # Replace with your registry login server
  ACR_LOGIN_SERVER: d7dd7vue3eizocosureg.azurecr.io
  IMAGE_NAME: techworkshop-l300

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3

      - name: Log in to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push (context = src only)
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest
          secrets: |
            envfile=${{ secrets.ENV }}
